
%form{action: "/score/", method: "post"}
  %label{name: "word"} Enter A word to score
  %input{type: "text", name: "word", id: "word"}
  %select{name: "bonus"}
    %option{value: "single"} Single
    %option{value: "double"} Double
    %option{value: "triple"} Triple
  %button{type: "submit"} Submit
