%h1 Welcome To Scrabble

= partial :_form_score

%p Your word has been scored
%p= "#{@word}: #{@score}"

%p
  Played words:
  - @game.played_words.each do |word|
    %ul
    - word.each_char do |letter|
      %li.btn.tile
        =letter
